.watch {
  width: 100vw;
  height: 100vh;

  .back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1000;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }
  .videoplayer {
    height: 100%;
    width: 100%;
    .video {
      display: block;
      height: 100% !important;
      width: 100% !important;
      object-fit: cover;
    }
  }
}
