.list_item {
  overflow: hidden;
  z-index: 0;

  height: 180px;
  width: max-content;
  background-color: var(--main-color);
}

.absolute_wrapper {
  transition: all 0.5s ease-in-out;
  color: white;
  .desc_and_action {
    padding: 4px 10px;
    text-align: left;
  }
  .action {
    padding: 5px 0px;
  }
  .info {
    display: none;
  }
}

.icon_section {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 8px 4px;
}
.video_icons {
  height: 32px;
  width: 32px;
  padding: 2px;
  border-radius: 50%;
  color: white;
  border: 1px white solid;
  cursor: pointer;
}
.time_section {
  color: white;
}
.video_player {
  display: none;
  width: 100%;
  height: 140px;
  object-fit: cover;
}
.movieimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.time_section {
  color: black;
  background: var(--main-color);
  padding: 4px 5px;
  span {
    font-size: 14px;
    font-weight: 500;
    color: grey;
    margin-left: 5px;
  }
  .limit {
    border: 1px solid grey;
    padding: 3px;
  }

  span:last-child {
    margin-left: 10px;
  }
}
.playsection {
  background-color: var(--main-color);
}

.custom:hover {
  .movieimg {
    display: none;
  }
  .absolute_wrapper {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.07);
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.07);
    height: auto;
    position: absolute;
    z-index: 10000;
    background: var(--main-color);
    min-width: 325px;
    width: 325px;
    top: -30px;

    .video_player {
      display: block;
    }
    .info {
      display: block;
    }
  }
}

// new List Item

.new_movie_link {
  height: 150px;
  width: 100%;
  padding: 2px;
  transition: 1000ms ease-in;
  background-color: var(--main-color);

  .new_video_player {
    height: 150px;
    width: 100%;
    object-fit: cover;
    display: none;
  }

  .new_movie_img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    padding: 0px 10px;
  }
}
.new_movie_link:hover {
  .new_movie_img {
    display: none;
  }

  .new_video_player {
    transform: scale(1.1);
    display: block;
  }
}
