.home {
  background: var(--main-color);
  overflow: hidden;
}
.crasoul_list0 {
  position: relative;
  z-index: 1000;
}
.crasoul_list1 {
  position: relative;
  z-index: 100;
}
.crasoul_list2 {
  position: relative;
  z-index: 99;
}
.crasoul_list3 {
  position: relative;
  z-index: 98;
}
